@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  /*display: flex;*/
  padding: 0 0px;
  align-items: center;
  justify-content: center;
  /*min-height: 100vh;*/
  /*background: linear-gradient(to left top, #031A9A, #8B53FF);*/
}

.hero{
  background-image: url("../images/bg-3.jpg");
  background-color: #074f57;
  color: white; 
  background-repeat: no-repeat; 
  background-size: cover;
  height:700px;
  border-radius: 30px;
}

.info {
  position: absolute;
  transform: translate(10%,100%);
}
.hero-title-large{
    font-size: 50px;
    color:#fff;
}

/*
a:focus, a:hover {
  text-decoration: none; 
  color:black;
  background-color: white;
}*/


.hero-phone{
  color:#fff;
  font-size: 50px;
}


.hero-phones a{
  color: #ffebee;
}

.hero button {
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 30px;
}

.btn-group-lg>.btn, .btn-lg {
  font-size: 2em;
  margin-right:30px;
}

.actions {
  position: absolute;
  transform: translate(35%,600%);
}

.wrapper {
  /*max-width: 1100px;*/
  width: 100%;
  position: relative;
  padding-left: 45px;
  padding-right: 45px;
  display: flex;
  top: -50px;
}
.wrapper i {
  top: 40%;
  height: 40px;
  width: 40px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 40px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}

#left {
  left: -20px;
}
#right {
  right:-20px;
}
/*
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: 40px;
}
*/
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 15px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 314px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  /*padding-bottom: 15px;*/
  flex-direction: column;
  border-radius: 15%;
}
.carousel .card .img {
  background: #fff;
  /*height: 200px;
  width: 300px;*/
  height: 90%;
  width: 90%;
  border-radius: 15%;
}
.card .img img {
  /*height: 200px;
  width: 300px;*/
  height: 90%;
  width: 90%;
  border-radius: 15%;
  object-fit: cover;
  border: 0px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 2rem;
  margin: 5px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

.card a{
  color:black;
  font-size: 1.5em;
}

@media screen and (max-width: 900px) {
  .hero{
    height:550px;
  }
  .hero-title-large{
    font-size: 30px;
  }
  .btn-group-lg>.btn, .btn-lg {
    font-size: 1.5em;
    margin-right:15px;
  }

  .actions {
    position: absolute;
    transform: translate(25%,450%);
  }
  .hero-phone{
    font-size:20px;
  }
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
    
  }
}
@media screen and (max-width: 600px) {

  .navbar-brand h1 { /* Bus name */
    font-size: 1.5em;
  }

  .hero{
    height: 400px;
  }
  .hero-title-large{
    font-size: 1.8rem;
  }

   .btn-group-lg>.btn, .btn-lg {
      font-size: 1em;
      margin-right:10px;
    }

    .actions {
      position: absolute;
      transform: translate(25%,400%);
    }

  .hero-phone{
    font-size: 1.8rem;
  }

  .wrapper .carousel {
    grid-auto-columns: 100%;
  }

  .wrapper i {
    height: 25px;
    width: 25px;
    font-size: 1.25rem;
    line-height: 25px;
  }
 

  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
}
