@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  /*display: flex;*/
  padding: 0 0px;
  align-items: center;
  justify-content: center;
  /*min-height: 100vh;*/
  /*background: linear-gradient(to left top, #031A9A, #8B53FF);*/
}


.hero{
  height:850px;
  background-color: #FDF6EA;
}

#title {
  /*text-transform: uppercase;*/
  text-align: center;
  font-size: 4em;
  color: #FF8C00;
  font-weight:bold;
  padding-top: 30px; 
  padding-bottom: 30px;
}
.wrapper {
  /*max-width: 1100px;*/
  width: 100%;
  position: relative;
  padding-left: 35px;
  padding-right: 35px;
  display: flex;
  height:600px;
}
.wrapper i {
  top: 40%;
  height: 40px;
  width: 40px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 40px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
#left {
  left: -20px;
}
#right {
  right:-20px;
}

.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3));
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 5px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 600px;
  list-style: none;
  background: #FDF6EA;
  cursor: pointer;
  flex-direction: column;
  border-radius: 0%;
}
.carousel .card .img {
  background: #fff;
  height: 100%;
  width: 100%;
  border-radius: 0%;
}
.card .img img {
  height: 100%;
  width: 100%;
  border-radius: 0%;
  object-fit: cover;
  border: 0px solid #fff;
}

.card-title {
  text-align: center;
  font-size: 1.5em;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #FF8C00;
  font-weight: bold;
}

.card ul {
  padding-left: 30px;
  line-height: 2em;
  padding-bottom: 30px;
}

.note {
  font-size: 0.8em;
  padding-left: 30px;
  padding-bottom: 30px;
}

.original-price{
  text-decoration: line-through;
  color:red;
}

.actions{
  position: absolute;
  transform: translateX(130%);
}

.btn {
  background-color: #FF8C00;
  color:#FDF6EA;
  font-weight: 600;
}


@media screen and (max-width: 900px) {
  .hero{
    height:650px;
  }

  .wrapper .carousel {
    /*grid-auto-columns: calc((100% / 2) - 9px);*/
    grid-auto-columns: calc((110% / 2));
  }

  .carousel .card {
    scroll-snap-align: start;
    height: 400px;
  }

  .actions{
    position: absolute;
    transform: translate(60%,-300%);
  }

}
@media screen and (max-width: 600px) {
  .hero{
    height:650px;
  }

  #title {
    font-size: 2em;
    color: #FF8C00;
    font-weight:bold;
    padding-top: 30px; 
    padding-bottom: 30px;
  }

  .wrapper .carousel {
    grid-auto-columns: 110%;
  }

  .carousel .card {
    scroll-snap-align: start;
    height: 400px;
  }

  .actions{
    position: absolute;
    transform: translate(10%,-300%);
  }

}
