@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  /*display: flex;*/
  padding: 0 0px;
  align-items: center;
  justify-content: center;
  /*min-height: 100vh;*/
  /*background: linear-gradient(to left top, #031A9A, #8B53FF);*/
}

.hero{
  background-color: #fff;
  background-image: url("../images/gioithieuxe.png");
  color: black; 
  font-size: 2em;
  line-height: 2.5;
  background-repeat: no-repeat; 
  background-size: cover;
  border-radius: 30px;
  height: 1100px;
}

.btn-group-lg>.btn, .btn-lg {
  background-color: white; 
  background-color: #694A2E;
  font-size: 1em;
  margin-right:30px;
  color: #FFFDF9;

}

.actions {
  position: absolute;
  transform: translate(70%,1400%);
}

.wrapper {
  /*max-width: 1100px;*/
  width: 100%;
  position: relative;
  display: flex;
}
.wrapper i {
  top: 40%;
  height: 40px;
  width: 40px;
  cursor: pointer;
  font-size: 1.25rem;
  text-align: center;
  line-height: 40px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  position: absolute;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}

#left {
  left: -20px;
}
#right {
  right:-20px;
}

/*
.wrapper i:first-child{
  left: 40px;
}
.wrapper i:last-child{
  right: 40px;
}
*/
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((105%));
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 5px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 600px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  flex-direction: column;
  border-radius: 5%;
}
.carousel .card .img {
  background: #fff;
  height: 80%;
  width: 90%;
  border-radius: 5%;
}
.card .img img {
  height: 80%;
  width: 90%;
  border-radius: 6%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 2rem;
  margin: 5px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .hero{
    background-size: cover;
    height: 700px;
  }

  .wrapper .carousel{
    grid-auto-columns: calc((105%));
  }
  .btn-group-lg>.btn, .btn-lg {
    font-size: 0.8em;
    margin-right:10px;
  }

  .actions {
    position: absolute;
    transform: translate(45%,880%);
  }

  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.8rem;
    margin: 5px 0 5px;
  }

}
@media screen and (max-width: 600px) {
  .hero{
      background-size: cover;
      height: 350px;
  }
  .wrapper .carousel{
    grid-auto-columns: calc((110%));
  }
  .btn-group-lg>.btn, .btn-lg {
    font-size: 0.4em;
    margin-right:5px;
    padding: 5px;
  }
  .wrap{
    padding-left: 50px;
  }
  .actions {
    position: absolute;
    transform: translate(52%,400%);
  }

  .carousel .card {
    height: 100%;
  }

  .carousel .card h2 {
    font-weight: 500;
    font-size: 1rem;
    margin: 5px 0 5px;
  }
 }
